# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user
.Rproj.user/
.Rproj

# Temporary files created by R markdown
*.utf8.md
*.knit.md
README.html

# Ignore these folders for a while
randomization/
data/.output/



